<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>工程削除</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md">
			<h1 class="card text-center" style="margin:50px">工程削除</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md text-center">
			<h2>下記の内容を削除します。よろしいですか？</h2>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-md-4 offset-md-4  d-md-flex justify-content-md-center gap-2">
			<form th:action="@{/kintai/kotei/delete}" method="post">
				<input type="hidden" name="koteicode" th:value="${kotei.koteicode}" />
				<input type="submit" class="btn btn-primary" name="command" value="削除" />
			</form>
			<form th:action="@{/kintai/kotei/delete}" method="post">
				<input type="submit" class="btn btn-secondary" name="command" value="キャンセル" />
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 offset-md-1" style="margin-top:20px">
			<table class="table table-striped table-hover">
				<tr>
					<th>工程コード：</th>
					<td class="text-start" th:text="${kotei.koteicode}"></td>
				</tr>
				<tr>
					<th>工程名称：</th>
					<td class="text-start" th:text="${kotei.koteimeisyo}"></td>
				</tr><tr>
					<th>工程定義：</th>
					<td class="text-start" th:text="${kotei.koteiteigi}"></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>