<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>メインメニュー</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="container px-2">

        <div class="row">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-body">
                        <h3>メインメニュー</h3>
                    </div>
                </div>
        </div>
        <div class="row" style="padding: 30px 20px 0px 10px;">
			<ul class="list-group list-group-flush">
			  <li class="list-group-item"><a href="/kintai/nitizisagyozisseki/list">日次作業実績一覧</a></li>
			  <li class="list-group-item"><a href="/kintai/bumon/list">部門一覧</a></li>
			  <li class="list-group-item"><a href="/kintai/kokyaku/list">顧客一覧</a></li>
			  <li class="list-group-item"><a href="/kintai/syain/list">社員一覧</a></li>
			  <li class="list-group-item"><a href="/kintai/project/list">プロジェクト一覧</a></li>
			  <li class="list-group-item"><a href="/kintai/kotei/list">工程一覧</a></li>
			  <li class="list-group-item"><a href="/auth/accountlist">ユーザーアカウント一覧</a></li>
			  <li class="list-group-item"><a href="/logout">ログアウト</a></li>
			</ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>

</html>